[id^="instagram-"] {
  margin: 0 !important;
  border: 0 !important;
  border-top: 0.05rem solid $black;
  border-radius: 0.5rem;
  border-color: inherit !important;
  max-width: 100% !important;
  min-width: 0 !important;
  overflow: hidden !important;
}
