
# If false, never shows colors.
# If "always" then always shows colors.
# If true, then only prints color codes for tty file descriptors.
color=always

# Save installed packages to a package.json file as devDependencies
save-dev=true
