@import "@primer/primitives/dist/css/base/size/size.css";
@import "@primer/primitives/dist/css/base/typography/typography.css";
@import "@primer/primitives/dist/css/functional/size/border.css";
@import "@primer/primitives/dist/css/functional/size/breakpoints.css";
@import "@primer/primitives/dist/css/functional/size/size-coarse.css";
@import "@primer/primitives/dist/css/functional/size/size-fine.css";
@import "@primer/primitives/dist/css/functional/size/size.css";
@import "@primer/primitives/dist/css/functional/size/viewport.css";
@import "@primer/primitives/dist/css/functional/typography/typography.css";

@import "@primer/primitives/dist/css/functional/themes/light.css";
@import "@primer/primitives/dist/css/functional/themes/dark-dimmed.css";

@font-face {
  font-family: "Gill Sans Nova";
  src:
    url("../fonts/GillSansNova-Book.woff2") format("woff2"),
    url("../fonts/GillSansNova-Book.otf") format("opentype"),
    url("https://use.typekit.net/af/078c93/00000000000000003b9b1f81/27/l")
      format("woff2"),
    url("https://use.typekit.net/af/078c93/00000000000000003b9b1f81/27/d")
      format("woff");
  font-style: normal;
  font-weight: 400;
  font-feature-settings:
    "calt" 1,
    "kern" 1,
    "liga" 1,
    "onum" 1,
    "salt" 1;
  unicode-range: U+000-5FF, U+0148, U+2009; /* Latin glyphs */
  font-display: block;
}

@font-face {
  font-family: "Gill Sans Nova";
  src:
    url("../fonts/GillSansNova-Medium.woff2") format("woff2"),
    url("../fonts/GillSansNova-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
  font-feature-settings:
    "calt" 1,
    "kern" 1,
    "liga" 1,
    "onum" 1,
    "salt" 1;
  unicode-range: U+000-5FF, U+0148, U+2009; /* Latin glyphs */
  font-display: block;
}

* {
  font-family:
    Gill Sans Nova,
    Gill Sans,
    Helvetica,
    Arial,
    sans-serif;
}

[class*="prc-PageLayout-Pane-"] {
  width: inherit !important;
  overflow: visible !important;
}

[class*="UnderlineWrapper"] {
  justify-content: flex-end !important;
}

@keyframes unfaded {
  from {
    opacity: 0;
    transform: translateY(42px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .pl-med {
    padding-left: var(--base-size-24);
  }
}

.normal-weight {
  font-weight: normal;
}

.nowrap {
  white-space: nowrap;
}

.pubslist {
  list-style: none;
  margin-left: 0;
}

.pubslist li {
  padding-left: 2em;
  text-indent: -2em;
  padding-bottom: 0.75em;
  max-width: calc(max(75%, 500px));
}

.columnar {
  max-width: calc(min(max(50%, 400px), 75vw));
}

.sc {
  font-feature-settings:
    "calt" 1,
    "kern" 1,
    "liga" 1,
    "onum" 1,
    "salt" 1,
    "smcp" 1;
  letter-spacing: 0.03em;
}

.page {
  background-color: var(--bgColor-default);
  min-height: 100vh;
}

.spaced {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.three-fourths {
  height: 0.75em;
}

h3 {
  padding-top: 0;
  font-weight: normal;
}
