@font-face {
  font-family: "Garamond Premier Pro Caption";
  src: url(../assets/fonts/GaramondPremrPro-Capt.woff2) format("woff2"),
    // url("https://use.typekit.net/af/624e8d/00000000000000003b9ade2b/27/l") format("woff2"),
      // url("https://use.typekit.net/af/624e8d/00000000000000003b9ade2b/27/d") format("woff"),
      url(../assets/fonts/GaramondPremrPro-Capt.woff) format("woff"),
    url(../assets/fonts/GaramondPremrPro-Capt.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-feature-settings: "kern" 1, "onum" 1;
  unicode-range: U+000-5FF, U+261C; /* Latin glyphs */
  font-display: block;
}

@font-face {
  font-family: "Garamond Premier Pro Caption";
  src: url(../assets/fonts/GaramondPremrPro-ItCapt.otf) format("opentype"),
    // url("https://use.typekit.net/af/149dc4/00000000000000003b9ade2a/27/l") format("woff2"),
      // url("https://use.typekit.net/af/149dc4/00000000000000003b9ade2a/27/d") format("woff"),
      url(../assets/fonts/GaramondPremrPro-ItCapt.woff2) format("woff2"),
    url(../assets/fonts/GaramondPremrPro-Capt.woff) format("woff");
  font-style: italic;
  font-weight: 400;
  font-feature-settings: "kern" 1, "onum" 1;
  /* unicode-range: U+000-5FF, U+2200-22FF; /* Latin glyphs */
  font-display: block;
}

@font-face {
  font-family: "Garamond Premier Pro Caption";
  src: url(../assets/fonts/GaramondPremrPro-MedCapt.woff2) format("woff2"),
    // url("https://use.typekit.net/af/ea8559/00000000000000003b9ade2d/27/l") format("woff2"),
      // url("https://use.typekit.net/af/ea8559/00000000000000003b9ade2d/27/d") format("woff"),
      url(../assets/fonts/GaramondPremrPro-MedCapt.woff) format("woff"),
    url(../assets/fonts/GaramondPremrPro-MedCapt.otf) format("opentype");
  font-style: normal;
  font-weight: 500;
  font-feature-settings: "kern" 1, "onum" 1;
  unicode-range: U+000-5FF, U+261C; /* Latin glyphs */
  font-display: block;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url(../assets/fonts/GillSansNova-Light.woff2) format("woff2"),
    // url("https://use.typekit.net/af/e48373/00000000000000003b9b1f86/27/l") format("woff2"),
      // url("https://use.typekit.net/af/e48373/00000000000000003b9b1f86/27/d") format("woff"),
      url(../assets/fonts/GillSansNova-Light.woff) format("woff"),
    url(../assets/fonts/GillSansNova-Light.otf) format("opentype");
  font-style: normal;
  font-weight: 300;
  font-feature-settings: "kern" 1, "onum" 1;
  unicode-range: U+000-5FF; /* Latin glyphs */
  font-display: block;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url(../assets/fonts/GillSansNova-LightItalic.woff2) format("woff2"),
    // url("https://use.typekit.net/af/405b7c/00000000000000003b9b1f87/27/l") format("woff2"),
      // url("https://use.typekit.net/af/405b7c/00000000000000003b9b1f87/27/d") format("woff"),
      url(../assets/fonts/GillSansNova-LightItalic.woff) format("woff"),
    url(../assets/fonts/GillSansNova-LightItalic.otf) format("opentype");
  font-style: italic;
  font-weight: 300;
  font-feature-settings: "kern" 1, "onum" 1;
  unicode-range: U+000-5FF; /* Latin glyphs */
  font-display: block;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url(../assets/fonts/GillSansNova-Book.woff2) format("woff2"),
    // url("https://use.typekit.net/af/078c93/00000000000000003b9b1f81/27/l") format("woff2"),
      // url("https://use.typekit.net/af/078c93/00000000000000003b9b1f81/27/d") format("woff"),
      url(../assets/fonts/GillSansNova-Book.woff) format("woff"),
    url(../assets/fonts/GillSansNova-Book.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-feature-settings: "kern" 1, "onum" 1;
  unicode-range: U+000-5FF; /* Latin glyphs */
  font-display: block;
}

@font-face {
  font-family: "Gill Sans Nova";
  src: url(../assets/fonts/GillSansNova-BookItalic.woff2) format("woff2"),
    // url("https://use.typekit.net/af/7c22c1/00000000000000003b9b1f82/27/l") format("woff2"),
      // url("https://use.typekit.net/af/7c22c1/00000000000000003b9b1f82/27/d") format("woff"),
      url(../assets/fonts/GillSansNova-BookItalic.woff) format("woff"),
    url(../assets/fonts/GillSansNova-BookItalic.otf) format("opentype");
  font-style: italic;
  font-weight: 400;
  font-feature-settings: "kern" 1, "onum" 1;
  unicode-range: U+000-5FF; /* Latin glyphs */
  font-display: block;
}
