@font-face {
	font-family: "Garamond Premier Pro Caption";
	src: url(../assets/fonts/GaramondPremrPro-Capt.woff2) format("woff2"),
			 url(../assets/fonts/GaramondPremrPro-Capt.otf) format("opentype");
	font-style: normal;
	font-weight: 400;
	font-feature-settings: "kern" 1, "onum" 1;
	unicode-range: U+00-FF, U+261E;
}

@font-face {
	font-family: "Garamond Premier Pro Caption";
	src: url(../assets/fonts/GaramondPremrPro-MedCapt.woff2) format("woff2"),
			 url(../assets/fonts/GaramondPremrPro-MedCapt.otf) format("opentype");
	font-style: normal;
	font-weight: 500;
	font-feature-settings: "kern" 1, "onum" 1;
	unicode-range: U+00-FF, U+261E;
}

@font-face {
	font-family: "Gill Sans Nova";
	src: url(../assets/fonts/GillSansNova-Light.woff2) format("woff2"),
			 url(../assets/fonts/GillSansNova-Light.otf) format("opentype");
	font-style: normal;
	font-weight: 300;
	font-feature-settings: "kern" 1, "onum" 1;
	unicode-range: U+00-FF;
}

@font-face {
	font-family: "Gill Sans Nova";
	src: url(../assets/fonts/GillSansNova-Book.woff2) format("woff2"),
			 url(../assets/fonts/GillSansNova-Book.otf) format("opentype");
	font-style: normal;
	font-weight: 400;
	font-feature-settings: "kern" 1, "onum" 1;
	unicode-range: U+00-FF;
}
