@font-face {
	font-family: "Garamond Premier Pro Caption";
	src: url(../assets/fonts/GaramondPremrPro-Capt.otf);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Garamond Premier Pro Caption";
	src: url(../assets/fonts/GaramondPremrPro-MedCapt.otf);
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "P22 Underground";
	src: url(../assets/fonts/P22UndergroundLight.otf);
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "P22 Underground";
	src: url(../assets/fonts/P22UndergroundBook.otf);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "P22 Underground";
	src: url(../assets/fonts/P22UndergroundBook.otf);
	font-style: normal;
	font-weight: 500;
}
