html {
  font-size: 16px;
}

$font-sizes: 4.209rem, 3.157rem, 2.369rem, 1.777rem, 1.333rem, 1rem, 0.75rem;
$spacer-sizes: 0.317, 0.422, 0.563, 0.75, 1;

@for $i from 1 through 6 {
  h#{$i} {
    font-size: nth($font-sizes, $i);
  }
}

$spacer-000: 0.133rem;
$spacer-00: 0.178rem;
$spacer-0: 0.237rem;
$spacer-1: 0.317rem;
$spacer-2: 0.422rem;
$spacer-3: 0.563rem;
$spacer-4: 0.75rem;
$spacer-5: 1rem;
$spacer-6: 1.333rem;
$spacer-7: 1.777rem;
$spacer-8: 2.37rem;
$spacer-9: 3.16rem;

$width-sm: 544px;
$width-md: 768px;
$width-lg: 1012px;
$width-xl: 1280px;
