[id^="twitter-widget"] {
  margin: 0 !important;
  border: 0 !important;
  border-radius: inherit !important;
  max-width: 100% !important;
  min-width: 0 !important;
  overflow: hidden !important;
  border-color: inherit !important;
}
