[class^=twitter] * {
  margin: 0 !important;
  border: 0 !important;
  border-radius: inherit !important;
  max-width: 100% !important;
}

[id^=twitter] * {
  margin: 0 !important;
  border: 0 !important;
  border-radius: inherit !important;
  max-width: 100% !important;
}

#twitter-widget-0 {
  margin: 0 !important;
  border: 0 !important;
  border-radius: inherit !important;
  border-color: inherit !important;
}

.timeline-Header div {
  display: none !important;
}

.timeline-Body {
  margin-top: 1rem !important;
}

.timeline-LoadMore {
  display: none !important;
}

.u-floatLeft {
  display: none !important;
}
